.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 3px solid #1abc9c; /* Borde inferior turquesa */
  padding: 0 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.navbar:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente al pasar el mouse */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1abc9c; /* Turquesa */
  z-index: 1; /* Asegura que el logo esté por encima del fondo */
}

.spacer {
  flex: 1;
}

.nav-buttons {
  color: #ffffff !important;
  font-weight: 500;
  z-index: 1; /* Asegura que los botones estén por encima del fondo */
}

.nav-buttons:hover {
  color: #1abc9c !important; /* Turquesa */
}

.menu-button mat-icon {
  color: #ffffff;
}



.navbar:hover{
  opacity: 1;
  transform: translateY(0);
}

/* Ocultamos el botón de menú por defecto en pantallas grandes */
.menu-button {
  display: none;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
  .nav-buttons {
    display: none;
  }
  .menu-button {
    display: inline-flex;
  }
  .menu-button button,
  .menu-button mat-icon {
    color: #ffffff !important;
  }
}
