<div class="skills-container">
    <h2>Habilidades Técnicas</h2>
    <div class="skills-grid">
      <div class="skill-card">
        <div class="skill-icon">
          <img src="https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1755981529/angular_logo_icon_169609_t2y8l7.png" alt="Angular">
        </div>
        <h3>Angular</h3>
        <p>Desarrollo de aplicaciones web robustas y escalables.</p>
      </div>
      <div class="skill-card">
        <div class="skill-icon">
          <img src="https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1755981529/nodejs_original_wordmark_logo_icon_146412_p4b6b3.png" alt="Node.js">
        </div>
        <h3>Node.js</h3>
        <p>Construcción de APIs RESTful y manejo de lógica de servidor.</p>
      </div>
      <div class="skill-card">
        <div class="skill-icon">
          <img src="https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1755981529/typescript_original_logo_icon_146317_g3ffci.png" alt="TypeScript">
        </div>
        <h3>TypeScript</h3>
        <p>Código más seguro y mantenible con tipado estático.</p>
      </div>
      <div class="skill-card">
        <div class="skill-icon">
          <img src="https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1755981528/html_original_wordmark_logo_icon_146478_p2yyj9.png" alt="HTML5 & CSS3">
        </div>
        <h3>HTML5 & CSS3</h3>
        <p>Maquetación web moderna y estilos avanzados.</p>
      </div>
    </div>
  </div>