html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1740419153/BGV02_xlretv.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  