@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transition: background-color 0.3s ease;
}

body {
    background: url('https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1755977665/bg_01_top_fphfj9.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.card {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
