.projects-container {
  position: relative;
  width: 100%;
  min-height: 120vh; /* Asegura que se ajuste a la pantalla */
  background: url('https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1672364395/Testalbun/thumb-1920-548279_jvpkvp.jpg') no-repeat center center;
  background-size: 100% auto; /* Ajusta el ancho al 100% sin cortar la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

/* Superposición para contraste */
.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.projects-container {
  padding: 40px 20px;
  text-align: center;
  background-color: #f5f5f5; /* Color de fondo suave para esta sección */
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  width: 300px;
}

.project-card img {
  height: 200px;
  object-fit: cover;
}
