<div class="hero-container">
    <div class="hero-overlay"></div>
    <div class="hero-content">
      <div class="profile-img-container">
        <img class="profile-img" src="https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1751728192/avatar2_oicuzt.png" alt="Tu Nombre" />
      </div>
      <div class="hero-text">
        <h1>Ashley Zifrikc V.T.</h1>
        <p class="p-style">Desarrollador web profesional.</p> <p>Transformo ideas en experiencias digitales.</p>
<p>Mi objetivo es diseñar y construir aplicaciones web innovadoras que conecten, inspiren y generen impacto.</p>
        <button  class="btnModels" mat-raised-button routerLink="/projects">Ver Proyectos</button>
        <br>
        <br>
        <button class="btnModels" mat-raised-button data-bs-toggle="modal" data-bs-target="#certificatesModal">Ver Certificados</button>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="certificatesModal" tabindex="-1" aria-labelledby="certificatesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="certificatesModalLabel">Mis Certificados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <img src="https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1756080086/7a4241a9-9f44-4a1d-a5fa-2970dd5a8f5e.png" class="card-img-top" alt="Certificado 1">
                <div class="card-body">
                  <h5 class="card-title">Certificado 1</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img src="https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1756080113/39d992d1-ed90-4f5e-bc5f-57acedd599e9.png" class="card-img-top" alt="Certificado 2">
                <div class="card-body">
                  <h5 class="card-title">Certificado 2</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img src="https://res.cloudinary.com/tecnologi-zifrikc/image/upload/v1756080131/de4b6f6c-2cd2-4b06-a057-1e05dc6a81fc.png" class="card-img-top" alt="Certificado 3">
                <div class="card-body">
                  <h5 class="card-title">Certificado 3</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
